<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=yes">

    <title>{% if site.title %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="css/style_20210817.css">
    <link rel="stylesheet" type="text/css" href="css/responsive_20210817.css">
    <style>
        .news-details .news-title .action .fonts i {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!--header end-->

    <div class="header">
        <div class="wrapper">
        </div>
    </div>
    
    <div class="naver">
        <div class="wrapper">
        </div>
    </div> 


    <div class="wrapper">
         <div class="main clearfix">
            <div class="news-details">
                <div class="news-title">
                    <h1>{{ site.statement_title }}</h1>

                    {% if site.statement_subtitle %}
                    <p class="subdoctitle">{{ site.statement_subtitle }}</p>
                    {% endif %}

                    {% if site.statement_time %}
                    <p class="time"><span>{{ site.statement_time }}</span></p>
                    {% endif %}
                    
                </div>
                <div class="news-main">
                    <div class="trs_editor_view TRS_UEDITOR trs_paper_default trs_word">
                      {% for txt in site.data.content %}
                        <p style="text-indent: 2em;">{{ txt.text }}</p>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer begin-->
    
    <!--footer-->
    <div class="footer">
        <div class="wrapper clearfix">
            {% if site.author %}
            <p><span>{{ site.author }}</span></p>
            {% endif %}
        </div>
    </div>
    
   
    <!--footer end-->

    <script type="text/javascript">
        var repTitle = $(".news-details .news-title h1").html();
        $(".news-details .news-title h1").html(repTitle.replace(/&lt;br&gt;/g, "<br>"));
        $("title").html($("title").html().replace(/&lt;br&gt;/g, ""));
    </script>

</body>

</html>